.tags {
  padding: 70px 40px;

  h1 {
    margin-bottom: 20px;

    color: rgb(1, 1, 1);
    font-size: 28px;
    font-family: 'russo one';
  }

  h2 {
    color: rgb(74, 69, 69);
    font-size: 18px;
    font-family: 'montserrat';
  }
}
