@import '../variables';

.usermenu {
  a {
    padding: 5px 10px;

    font-weight: 300;
    font-size: 12px;
    line-height: 15px;

    text-align: center;
    letter-spacing: 0.09em;

    color: #ffffff;

    &:not(:last-child) {
      margin-right: 14px;
    }

    &:first-child {
      border: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
