$black: #000000;
$white: #ffffff;
$greyFont: rgba(0, 0, 0, 0.6);
$greyBack: #333333;
$scrollbar: #404646;
$blue: rgba(7, 172, 183, 1);
$yellow: #FFFF00;
$yellowFont: rgba(255, 255, 0, 1);
$post: #CEFE0D;
$green: rgb(10, 183, 8);
$searchBackground: #1C1B1B;
$searchButton: rgba(217, 217, 217, 0.3);

$containerWidth: 1500px;

// font-family: 'Russo One', sans-serif;
// font-family: 'Titillium Web', sans-serif;